* {
    border: none;
    border-radius: 5px;
    font-family: "FiraCode Nerd Font", "monospace";
    font-size: 15px;
}

window#waybar {
    color: #d8dee8;
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    color: #d8dee8;
}

#workspaces button:hover {
    background-color: #ffb52a;
}

#workspaces button.focused {
    background-color: #2f5491
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces,
#mode,
#idle_inhibitor,
#scratchpad,
#window,
#custom-layout,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray {
  margin: 5px 3px;
  background-color: #2F343F;
  padding: 2px;
  /*padding: 0 10px;*/
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}
