* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: #2F343F;
    color: #d8dee8;
    transition-property: background-color;
}


#workspaces button {
    color: white;
    padding: 0 10px;
}

#workspaces button:hover {
    background-color: #ffb52a;
}

#workspaces button.focused {
    background-color: #2f5491
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#idle_inhibitor,
#custom-layout,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio {
  margin: 0 10px;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}
